.director-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
    margin: 20px;
}

.director-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
}

.director-card-title {
    font-size: 20px;
    color: hsl(0, 4%, 79%);
    font-weight: 500;
    text-align: center;
}

.director-card-content {
    padding: 20px;
    font-size: 18px;
    color: hsl(0, 0%, 18%);
    background-color: hsl(0, 1%, 78%);
    margin-top: 1px;
}

.dir-close-button {
    height: 25px;
    width: 25px;
    font-weight: bold;
    background-color: #C8753D;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.dir-close-button:hover {
    background-color: #A65A30;
}
