.main-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 5em; // Adjust the size as needed
    color: rgb(56, 89, 133);
    margin-bottom: 20px; // Adds space between title and buttons
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.custom-button {
    background-color:  rgb(67, 132, 193) !important;
    color: white !important;
    margin-right: 50px;
    margin-top: 50px;
}

.custom-button:last-child {
    margin-right: 0;
}
