<div class="main-page">
    <h1 class="title">
        Welcome to myFlix!
    </h1>
    <div class="buttons-container">
        <button
            mat-raised-button
            (click)="openUserRegistrationDialog()"
            color="primary"
            class="custom-button"
        >
            Sign Up
        </button>
        <button
            mat-raised-button
            color="primary"
            (click)="openUserLoginDialog()"
            class="custom-button"
        >
            Login
        </button>
    </div>
</div>
