<div class="movie-cards-container">
    <mat-card *ngFor="let movie of movies;" class="movie-card">
        <mat-card-header>
            <mat-card-title>{{movie.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="movie.imageUrl" alt="{{movie.title}}" class="movie-image" />
        <mat-card-actions>
            <button mat-button class="custom-button">
                Genre
            </button>
            <button mat-button class="custom-button">
                Director
            </button>
            <button mat-button class="custom-button">
                Synopsis
            </button>
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>
